<div class="row blog-contact-background">
    <div class="col-md-offset-1 col-md-10 blog-contact-wrapper">
        <div class="col-md-6 col-md-push-6 blog-contact-content">
            <h2>Say Hello!</h2>
            <p>Words of Encouragement? Just want to say hey. I love hearing from people! Feel free to send me a message!</p>
            <%=image_tag("contact-squids.png", alt: 'Zach Moodie Squids', class: 'blog-contact-squids') %>
        </div>
        <a name="contact"></a>
        <div class="col-md-6 col-md-pull-6 blog-contact-form">
                <%= form_for @contact do |f| %>
                    <%= f.label :name, 'Your Name' %><br>
                    <%= f.text_field :name, required: true, class: 'blog-form-name' %>

                    <br>

                    <%= f.label :email, 'Your Email Address' %><br>
                    <%= f.text_field :email, required: true, class: 'blog-form-email' %>

                    <br>

                    <%= f.label :message, 'Your Message' %><br>
                    <%= f.text_area( :message, as: :text, class: 'blog-form-message', rows: 6) %>

                    <br>

                    <div class="hidden">
                        <%= f.label :nickname %><br>
                        <%= f.text_field :nickname, hint: 'Leave this field blank' %>
                    </div>

                    <%= f.submit "Send", class: 'blog-contact-submit' %>

                <% end %>

                <!-- <div class="form-group">
                    <label class="control-label" for="name">Your Name</label>
                    <input class="form-control" id="blog-form-name" name="name" type="text"/>
                </div>

                <div class="form-group">
                    <label class="control-label " for="email">Your Email</label>
                    <input class="form-control" id="blog-form-email" name="email" type="text"/>
                </div>

                <div class="form-group">
                    <label class="control-label " for="message">Your Message</label>
                    <textarea class="form-control" cols="40" id="blog-form-message" name="message" rows="6"></textarea>
                    <input class="blog-contact-submit" type="submit" value="Send">
                </div>-->
        </div>
    </div>
</div>
