<div class="container">
    <div class="row">

    <h1 class="page-title">All Blog Posts</h1>

    <div class="col-md-8 col-md-offset-2 blog-listings-all">
        <% @posts.each do |post| %>

            <div class="row blog-listing-wrapper">
                <div class="col-md-4">
                    <!--<%= image_tag post.image.url(:med), class: "blog-listing-image" %>-->
                    <%= link_to image_tag(post.image.url(:med), class: "blog-listing-image"), post %>
                </div>
                <div class="col-md-8">
                    <h1 class="blog-listing-title"><%= link_to post.title, post %></h1>
                    <p class="blog-listing-date"><%= post.created_at.strftime("%A, %b, %d")%></p>
                    <p class="blog-listing-content"><%= truncate post.content, length: 145 %><br>
                    <%= link_to 'Read More', post, class: 'blog-listing-read-more' %></p>
                </div>
            </div>
        <% end %>

        <div class="row">
            <div class="col-md-12 blog-listing-pagination">
                <%= will_paginate @posts %>
            </div>
        </div>

    </div>
</div>
</div>
