<style media="screen">
  body { background-image: url(<%= @post.image.url(:large) %>); }
</style>

<div class="container-fluid blog-entry-bg">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 blog-entry-wrapper">
            <h6 class="blog-entry-author"> By Zach Moodie</h6>
            <h1 class="blog-entry-title"><%= @post.title %><br></h1>
            <span class="col-md-6 blog-entry-date"><%= @post.created_at.strftime("%A, %b, %d")%></span><span class="col-md-6"><%= link_to "Leave A Comment", :anchor => "blog-entry-comments" %></span>
            <p class="blog-entry-content"><%= markdown @post.content %></p>

            <div id="share_box">
                <p>Share this post!</p>
                <!-- Twitter -->
                <a onclick="javascript:window.open('http://twitter.com/share?text=<%= @post.title %> by @zachmoodie - &amp;url=<%= url_for([@post, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-twitter share-icon"></i></a>
                <!-- Facebook -->
                <a onclick="javascript:window.open('http://www.facebook.com/sharer.php?u=<%= url_for([@post, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-facebook share-icon"></i></a>
                <a target="_blank" href="https://www.facebook.com/dialog/feed?app_id=145634995501895&display=popup&amp;caption=An%20example%20caption&link=<%= url_for([@post, {only_path: false}]) %>&redirect_uri=https://developers.facebook.com/tools/explorer">Share</a>
            </div>

            <% if user_signed_in? %>
                <div id="admin_links">
                    <%= link_to "Edit", edit_post_path(@post) %>
                    <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delet this post?"} %>
                </div>
            <% end %>

            <%= render 'disqus' %>
            <a name="blog-entry-comments"></a>

        </div>
    </div>

</div>
